<% provide(:title,"Home") %>
<div class="row">
<div class="signup">
<%= link_to "Signup", signup_path %>
</div>
<div class="col-md-8">
    <% if @posts.any? %>
      <h3> </h3>
      <ol class="microposts">
       <% @posts.each do |post| %>
       <%= render post %>
       <% end %>
      </ol>
      <%= will_paginate @posts %>
    <% end %>
  </div>
<hr>
<div class="col-md-8">
<% if logged_in? %>

<%= form_for(:post, url: post_create_path) do |f|%>

<%= f.label "主题" %>
<%= f.text_field :subject, class: "form-control" %>

<%= f.label "内容" %>
<%= f.text_area :ct, class: "form-control ", style: "height: 120px;" %>

<div class="col-md-4 col-md-offset-4">
<%= f.submit "新建", class: "btn btn-primary" %>
</div>
<% end %>
</div>



<% end %>
</div>