<li id="post-<%= post.id %>">
  <span class="content"><%= link_to  post, id: "subject" do%>
  主题：<%= "#{post.subject.split('')[0,30].join}" %>  &nbsp &nbsp &nbsp      楼主：<%= "#{post.user.name }" %> <% end %></span>

  
  <span class="content"><%= link_to "#{post.contents.first.ct.split('')[0,25].join + '...'}",post %></span>
  <span class="timestamp">
    在<%= "#{Time.at post.updated_at.to_i}".split("+")[0] %>时回复  
    <div style="color: black; display: inline-block;">
      已有<%= "#{post.content_count}" %>条回复
    </div> &nbsp &nbsp
    <% if admin_user?(current_user) %>
       <%= link_to "删除", post, method: :delete  %>
    <% end %>    
  </span>  
</li>